body {
    background-color: #9fb9e3;
}

.title {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #1b4bab;

}

h2 {
    margin-top: 2vh;
    font-size: 2.8rem;
    color: #e32db6;
    text-align: center;
    word-spacing: 20px;
}


.container {
    display: flex;
}

.players {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 60vw;

}

.player {
    width: 10vw;
    margin-right: 7vw;

}

.object {
    width: 10vw;
}

.btn {
    background-color: #d3e4e8;
}

.robot {
    display: flex;
}

.robot-img {
    width: 10vw;
}

.scores {
    width: 30vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #f5ee42;
    background-color: #e1e7eb;
    padding: 2vh 2vw;
    border: 2px solid white;
    border-radius: 30px;
}

.liveScore {
    font-size: 2rem;
    color: #e32db6;
    text-align: center;

}

.rounds {
    height: 40vh;
}

.refresh {
    padding-top: 4vh;
    height: 10vh;
}

#refresh {
    display: none;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    font-size: 1rem;
    margin: auto;
    background-color: #9fb9e3;

}